.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .product-card h2 {
    font-size: 18px;
    margin: 10px 0 5px;
  }
  
  .product-card p {
    color: #555;
    font-size: 14px;
  }
  
  .product-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .product-image {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .product-info {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .product-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .product-info p {
    font-size: 16px;
    color: #333;
    margin: 4px 0;
  }
  
  .product-info .price {
    font-size: 24px;
    font-weight: bold;
    color: #128805;
    margin: 10px 0;
  }
  
  .buy-button {
    margin-top: 20px;
    padding: 14px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #000000ed;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .buy-button:hover {
    background-color: #000000bf;
  }
  

  .searchContainer {
    text-align: center;
    margin: 20px 0;
  }
  
  .searchInput {
    width: 60%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.3s;
  }
  
  .searchInput:focus {
    border: 1px solid #000000;
  }
  